html,
body {
  padding: 0;
  margin: 0;
  background: linear-gradient(133deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3,  #ff2400);
background-size: 1500% 1500%;

-webkit-animation: rainbow 30s ease-out infinite;
-z-animation: rainbow 30s ease-out infinite;
-o-animation: rainbow 30s ease-out infinite;
  animation: rainbow 30s ease-out infinite;}

@-webkit-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-moz-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@-o-keyframes rainbow {
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}
@keyframes rainbow { 
    0%{background-position:0% 82%}
    50%{background-position:100% 19%}
    100%{background-position:0% 82%}
}


a { 
  background: rgba(60,60,60,0.4) !important
  
}
a:hover {
  text-decoration: white !important;
  color: white !important;
background: #666 !important}

